// Home

.top {


	h1 {
		font-size: 3.5em;
		//text-transform: uppercase;
		font-weight: 800;
		border-bottom: 10px solid black;
		letter-spacing: 0.03em;
	}

	h2 {
		text-transform: uppercase;
		font-weight: 800;
		font-size: 2em;
		line-height: 1em;
		margin: 0em;
		@media (max-width:$screen-sm){
			letter-spacing: -0.03em;
		}
		@media (min-width:$screen-sm){
		font-size: 3em;
		}

	}
}




.home {

	.wrap{
		max-width: 760px;
	}

	.wp-post-image {
		margin: 0.5em 0 1em 0;
	}


}

.entry-title a{
	color: black;
}

